<script type="module" src="./js/webSocket.js"></script>

<h1>Issues</h1>
<table>
  <% if (issues?.length) { %>
      <% for (const issue of issues) { %>
        <tbody id="issue-list">
          <tr  data-id="<%= issue.id %>">
            <td><img src="<%= issue.avatar %>" alt="Author's Avatar"  class="issue-avatar"></td>
            <td class="issue-title"><%= issue.title %></td>
            <td><%= issue.state %></td>
            <td>
              <div class="issue-description">
                <pre><%= issue.description || 'No description provided.' %></pre>
              </div>
            </td>
            <% if (issue.state === 'opened') { %>
              <td>
                <form class="issue-form" action="/issues/<%= issue?.id %>/close" method="post">
                  <input type="hidden" name="id" value="<%= issue?.id %>" />
                  <button type="submit" class="submit-button" id="button-close">Close</button>
                </form>
              </td>
            <% } else { %>
              <td>
                <form class="issue-form" action="/issues/<%= issue?.id %>/open" method="post">
                  <input type="hidden" name="id" value="<%= issue?.id %>" />
                  <button type="submit" class="submit-button" id="button-open">Open</button>
                </form>
              </td>
            <% } %>
          </tr>
        </tbody>
      <% } %>
  <% } else { %>
      <tr><td colspan="5">No issues found.</td></tr>
  <% } %>
</table>

<template id="issue-template">
    <tr>
      <td><img src="" alt="Author's Avatar" style="width: 50px;" class="issue-avatar"></td>
      <td class="issue-title"></td>
      <td class="issue-state"></td>
      <td>
        <div class="issue-description">
          <pre></pre>
        </div>
      </td>
      <td class="issue-action">
        <form class="issue-form" action="" method="post">
            <input type="hidden" name="id" value="" class="issue-id" />
            <button type="submit" class="submit-button"></button>
          </form>
      </td>
    </tr>
  </template>